/* Arrows */
.arrows {
	pointer-events: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	z-index: -1;
	opacity: 1;
	filter: blur(1px) brightness(50%);
}
.arrows img {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 10vmin;
}

/* Header */
header {
	display: grid;
	grid-template-columns: 40vw 40vw;
	width: 100vw;
	padding: 0 10vw;
}
@keyframes title-intro {
	0% {
		width: 80vw;
		opacity: 0;
	}
	30% {
		width: 80vw;
		opacity: 1;
	}
	70% {
		width: 80vw;
		opacity: 1;
	}
	100% {
		width: 40vw;
		opacity: 1;
	}
}
.title {
	opacity: 0;
	animation: title-intro 4s cubic-bezier(0.83, 0, 0.17, 1) forwards;
	position: sticky;
	width: 80vw;
	height: 100vh;
	top: 0;
	font-size: 2vmin;
	text-align: center;
	font-weight: normal;
	letter-spacing: .01em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5vh;
}
.title-line {
	position: relative;
}
.text-img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 150%;
	width: 150%;
	pointer-events: none;
}
@keyframes essay-intro {
	from {
		opacity: 0;
		filter: blur(10px);
	}
	to {
		opacity: 1;
		filter: blur(0px);
	}
}
.essay {
	animation: essay-intro 2s 3s forwards;
	opacity: 0;
	filter: blur(10px);
	padding-top: 25vh;
	line-height: 1.5em;
	font-size: 24px;
	letter-spacing: .05em;
}
.essay p {
	width: 100%;
	max-width: 800px;
	margin: 1.5em auto;
}
.text-relative {
	position: relative;
}

/* Catalog */
.catalog {
	display: flex;
	flex-direction: column;
	padding: 10vw 15vw;
	gap: 10vw;
	overflow: hidden;
}
.catalog-link {
	display: grid;
	grid-template-columns: 3fr 2fr;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: white;
	gap: 1vw;
	align-items: center;
	justify-items: center;
}
.catalog-link:nth-child(even) {
	grid-template-columns: 2fr 3fr;
}
.catalog-link:nth-child(even) .catalog-preview {
	order: 9;
}
.catalog-preview {
	width: 100%;
	aspect-ratio: 4/3;
	filter: brightness(50%);
	opacity: .8;
}
.catalog-title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.catalog-title-serif {
	font-size: 1.5vw;
}
.catalog-title-drawn {
	display: none;
	font-size: 1.5vw;
}
.catalog-emphasis {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150%;
	height: 150%;
	pointer-events: none;
	filter: blur(5px);
	display: none;
	opacity: .8;
	z-index: -1;
}
.catalog-link:hover {
	z-index: 99;
}
.catalog-link:hover .catalog-preview {
	filter: brightness(100%);
	opacity: 1;
	transform: rotate(3deg);
}
.catalog-link:hover .catalog-emphasis {
	display: block;
}
.catalog-link:hover .catalog-title-serif {
	display: none;
}
.catalog-link:hover .catalog-title-drawn {
	display: block;
}

/* Footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	gap: 1em;
	width: 100%;
	min-height: 80dvh;
	padding: 10vw;
	font-size: 16px;
	color: white;
}
footer a {
	color: white;
	text-decoration: none;
}

/* Mobile styles */
@media screen and (max-width: 1000px) {
	header {
		grid-template-columns: 1fr;
	}
	.title {
		animation: unset;
		position: static;
		height: auto;
		min-height: 80vh;
		font-size: 4vmin;
		opacity: 1;
	}
	.essay {
		animation: unset;
		opacity: 1;
		filter: unset;
		padding-top: unset;
		font-size: 18px;
	}
	.catalog {
		gap: 15vh;
		padding: 10vw;
	}
	.catalog-link {
		grid-template-columns: 1fr !important;
		gap: 5vh;
	}
	.catalog-preview {
		opacity: unset;
		filter: unset;
	}
	.catalog-title-serif, .catalog-title-drawn {
		font-size: 4vw;
	}
	.catalog-preview {
		order: 0 !important;
	}
}