@font-face {
	font-family: caffeine;
	src: url(assets/fonts/caffeine.woff2);
}
@font-face {
	font-family: goudy;
	src: url(assets/fonts/GoudyBookletter1911-Regular.ttf);
}
@font-face {
	font-family: limkin;
	src: url(../assets/fonts/limkin.ttf);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 12px;
}
body {
	font-family: limkin, serif;
	background-color: black;
	color: white;
}

/* Header */
header {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	/* background: white; */
}
.header-vignette {
	z-index: 3;
	pointer-events: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%), linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%), linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%), linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%);
}
.header-arrows {
	font-family: caffeine, sans-serif;
	pointer-events: none;
	z-index: 2;
}
.header-arrows span {
	position: absolute;
}
.title {
	position: absolute;
	font-family: caffeine, sans-serif;
	font-size: 3rem;
	margin-bottom: 2rem;
}
.home-container {
	padding: 80px 40px;
}
.home-container p {
	width: 100%;
	max-width: 800px;
	margin: 1.5em auto;
	line-height: 1.5em;
	font-size: 1.8rem;
	letter-spacing: .05em;
}

/* Overlays */
.grain {
	position: fixed;
	top: 0;
	left: 0;
	width: 120vw;
	height: 120vh;
	animation-name: grain;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
	mix-blend-mode: luminosity;
	opacity: 0.15;
	pointer-events: none;
	z-index: 999;
}
@keyframes grain {
	0% {
		left: -20vw;
		top: -20vh;
	}
	33% {
		left: 0vw;
		top: -20vh;
	}
	66% {
		left: 0vw;
		top: 0vh;
	}
	100% {
		left: -20vw;
		top: 0vh;
	}
}
.vignette {
	z-index: 99;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%), linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%), linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%), linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%);
}